.items>a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.items>a:hover {
    color: rgb(255, 157, 0);
    transform: scale(1.05);
}

.buy-actions {
    display: flex;
    gap: 30px;
}

/*-------------ESTILO DO MODAL-------------*/
/* -------------ESTILO DO MODAL------------- */
.modal-container01 {
    display: none;
    position: absolute;
    top: 80px;
    right: 40px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    z-index: 1000;
    width: 280px;
    max-height: 200px;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out;
    gap: 20px;
}

.modal-container {
    display: block;
    position: absolute;
    top: 80px;
    right: 0;
    z-index: 1000;
}

/* Estilo base para links e botões do modal */
.modal-content01 a,
.modal-content01 button {
    text-decoration: none;
    color: black;
    padding: 12px 20px;
    border-radius: 4px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    text-align: center;
    border: none;
    background: none;
    cursor: pointer;
    margin-bottom: 8px;
    font-family: "Fredoka", serif;
    font-size: 16px;
}

.modal-content {
    display: block;
    width: 250px;
    height: 350px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    z-index: 1000;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    position: relative;
    margin-right: 20px;
}

.modal-content a,
.modal-content button {
    text-decoration: none;
    color: black;
    border-radius: 4px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    text-align: center;
    border: none;
    background: none;
    cursor: pointer;
    margin-bottom: 8px;
    font-family: "Fredoka", serif;
    font-size: 16px;
}

.modal-content button:hover {
    background-color: rgba(255, 0, 0, 0.1);
    transform: translateX(5px);
    color: #ff0000;
}

/* Classe para exibir o modal com animação */
.modal-container01.show {
    display: block;
    opacity: 1;
}

/* Estilo para os botões */
.action-buttons {
    display: flex;
    flex-direction: column !important;
    gap: 5px;
    margin-top: 10px;
}

.user-name {
    margin-left: 15px;
    font-family: "Fredoka", serif;
    font-size: 18px;
    color: #333;
}

.action-buttons tex {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cadastro-login {
    color: rgb(255, 157, 0);
}

.conta-cadastro {
    text-align: center;
    font-family: "Fredoka", serif;
    font-size: 20px;
    margin-bottom: 15px;
}

/*-------TÍTULO DO DESTAQUES-------*/

.produtos-Destaques {
    display: flex;
    justify-content: center;
    color: rgba(0, 0, 0, 0.671);
    padding: 5px;
    font-size: 50px;
    margin-top: 50px;
}

.barra-pesquisa {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100%;
    padding-left: 180px;
}

.pesquisa-input {
    width: 500px;
}

.menu-toggle {
    display: none;
    justify-content: center;
    align-items: center;
}

.aaa {
    width: 100%;
}

/*----------------------------------MEDIA QUERY--------------------------------------------------*/

/* Tela grande (desktop) */
@media (min-width: 1200px) {
    .items {
        gap: 50px;
        display: flex;
        font-family: "Fredoka", serif;
    }

    .items>a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        transform: scale(1.02);
        transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
    }

    .items>a:hover {
        color: rgb(255, 157, 0);
        transform: scale(1.05);
    }

    .barra-pesquisa {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        width: 100%;
        padding-left: 180px;
    }
}

/* Tela média (tablet) */
@media (min-width: 768px) and (max-width: 1199px) {
    .items {
        display: flex;
        font-family: "Fredoka", serif;
        margin-left: -150px;
    }

    .items>a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        display: inline-block;
        transform: scale(1.01);
        transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
        white-space: nowrap;
    }

    .items>a:hover {
        color: rgb(255, 157, 0);
        transform: scale(1.03);
    }
}

/*--------------------------------------------------------------*/

/* Tela pequena (celular) */
@media (max-width: 767px) {
    .items {
        gap: 20px;
        display: flex;
        flex-direction: column;
        font-family: "Fredoka", serif;
        display: none;
    }

    .items>a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        transform: scale(1.0);
        transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
    }

    .items>a:hover {
        color: rgb(255, 157, 0);
        transform: scale(1.02);
    }

    .buy-actions {
        display: none;
    }

    .produtos-Destaques {
        font-size: 25px;
    }

    .text-center {
        text-align: center !important;
    }

    @media (max-width: 767px) {
        .menu-toggle {
            display: inline-block;
            cursor: pointer;
            margin-bottom: 10px;
        }

        .menu {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #333;
            padding: 10px;
            width: 100%;
            z-index: 1000;
        }

        .menu li>a {
            margin-bottom: 100px;
        }

        .menu>a {
            color: #fff;
            text-decoration: none;
        }

        .menu a:hover {
            color: rgb(255, 157, 0);
        }

        .fa-solid {
            margin-right: 5px;
        }

        li>a {
            font-size: 20px;
        }
    }
}

/*-----------------------------------------------------------*/

@media (max-width: 767px) {
    .menu-toggle {
        display: inline-block;
        cursor: pointer;
        margin-bottom: 10px;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 30px;
        height: 5px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s;
    }

    .bar1 {
        transform: rotate(0deg) translate(0px, 0px);
    }

    .bar2 {
        transform: rotate(0deg) translate(0px, 0px);
    }

    .bar3 {
        transform: rotate(0deg) translate(0px, 0px);
    }

    .menu-toggle:hover .bar1 {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-toggle:hover .bar2 {
        opacity: 0;
    }

    .menu-toggle:hover .bar3 {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #333;
        padding: 10px;
        width: 100%;
    }

    .menu li {
        margin-bottom: 10px;
    }

    .menu a {
        color: #fff;
        text-decoration: none;
    }

    .menu a:hover {
        color: #ccc;
    }

    .menu-toggle.active .bar1 {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-toggle.active .bar2 {
        opacity: 0;
    }

    .menu-toggle.active .bar3 {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .menu-toggle.active+.menu {
        display: block;
    }
}

@media (max-width: 768px) {
    .menu-toggle {
        display: inline-block;
        cursor: pointer;
        margin-bottom: 10px;
    }

    .menu {
        display: none;
        justify-content: space-between;
        align-items: center;
    }

    .menu li {
        margin-right: 20px;
    }
}

.modal-container01 a {
    text-decoration: none;
    color: black;
    padding: 12px 20px;
    border-radius: 4px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    text-align: center;
    border: none;
    background: none;
    cursor: pointer;
    margin-bottom: 8px;
    font-family: "Fredoka", serif;
    font-size: 16px;
}

.modal-container01 a:hover {
    background-color: rgba(255, 157, 0, 0.1);
    transform: translateX(5px);
    color: rgb(255, 157, 0);
}

.modal-container01 button {
    text-decoration: none;
    color: red;
    padding: 12px 20px;
    border-radius: 4px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    text-align: center;
    border: none;
    background: none;
    cursor: pointer;
    margin-bottom: 8px;
    font-family: "Fredoka", serif;
    font-size: 16px;
}

.modal-container01 button:hover {
    background-color: rgba(255, 0, 0, 0.1);
    transform: translateX(5px);
    color: #ff0000;
}