.barra-laranja {
    height: 4px;
    width: 0%;
    background-color: rgb(255, 157, 0);
    margin-bottom: 10px; /* Reduzido */
    margin-top: 0px; /* Removido o valor negativo */
    transition: width 1s ease-in-out;
    animation: carregar 1s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes carregar {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

body {
    margin: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(136deg,
            rgb(0, 0, 0) 0%,
            rgb(177, 177, 177) 15%,
            rgb(215, 215, 215) 52%,
            rgb(0, 0, 0) 99%);
    background-size: 100% 300%;
    animation: gradient 3s ease infinite;
}

.botao {
    width: 100%; /* Ajustado para compactar */
}

label,
a,
p,
button {
    font-family: "Inter", serif;
    font-weight: 500;
    color: #333333;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cadastro-login {
    background-color: #8f8f8f6a;
    padding: 20px; /* Ajustado para compactar */
    border-radius: 10px;
    width: 350px; /* Ajustado para compactar */
    height: 450px; /* Ajustado para compactar */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.5);
}

.header-title>h2 {
    font-family: "Fredoka", serif;
    font-weight: 600;
    font-size: 32px; /* Ajustado para compactar */
    color: #333333;
}

.form-group {
    margin-bottom: 15px; /* Ajustado para compactar */
}

label {
    display: block;
    margin-bottom: 8px; /* Ajustado para compactar */
}

form {
    margin-left: 0px; /* Ajustado para compactar */
}

input[type="email"],
input[type="password"] {
    width: 100%; /* Ajustado para compactar */
    height: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #d6d6d6e2;
}

input:focus {
    outline: none;
    border: none;
}

button[type="submit"] {
    width: 100%; /* Ajustado para compactar */
    height: 40px;
    padding: 10px;
    background-color: rgb(255, 157, 0);
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

button[type="submit"]:hover {
    transform: scale(1.05);
    background-color: rgb(255, 128, 0);
}

.user-icon {
    margin: 10px 0px 15px 0px;
}

.information {
    margin-top: 20px; /* Ajustado para compactar */
}

.user-icon {
    opacity: 0;
    animation: fadeIn 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.information a {
    font-family: "Inter", serif;
    font-weight: 500;
    color: #333333;
    transition: transform 0.5s ease-in-out;
}

.information a:hover {
    transform: scale(1.1);
    color: rgb(182, 113, 0);
}

/* Media Queries */

@media (max-width: 767px) {
    .cadastro-login {
        width: 80%;
        padding: 10px;
        height: 400px; /* Ajustado para compactar */
    }
    
    .header-title > h2 {
        font-size: 28px; /* Ajustado para compactar */
    }

    form {
        margin-left: 0px;
    }

    input[type="email"],
    input[type="password"] {
        width: 100%;
    }

    button[type="submit"] {
        width: 100%;
    }

    .user-icon {
        margin: 5px 0px 10px 0px;
    }

    .information {
        margin-top: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .cadastro-login {
        width: 60%;
        padding: 15px;
        height: 400px; /* Ajustado para compactar */
    }

    .header-title > h2 {
        font-size: 30px; /* Ajustado para compactar */
    }

    form {
        margin-left: 0px;
    }

    input[type="email"],
    input[type="password"] {
        width: 100%;
    }

    button[type="submit"] {
        width: 100%;
    }

    .user-icon {
        margin: 10px 0px 15px 0px;
    }

    .information {
        margin-top: 15px;
    }
}

@media (min-width: 992px) {
    .cadastro-login {
        width: 350px; /* Ajustado para compactar */
        padding: 20px;
        height: 450px; /* Ajustado para compactar */
    }

    form {
        margin-left: 0px; /* Ajustado para compactar */
    }

    input[type="email"],
    input[type="password"] {
        width: 100%; /* Ajustado para compactar */
    }

    button[type="submit"] {
        width: 100%; /* Ajustado para compactar */
    }

    .user-icon {
        margin: 10px 0px 15px 0px;
    }

    .information {
        margin-top: 20px; /* Ajustado para compactar */
    }
}