/* ----------- CELULAR (≤576px) ----------- */

@media (max-width: 576px) {

    /*------BODY--------*/

    .container {
        width: 100%;
        margin-top: 50px;
    }

    .produtos-Destaques {
        font-size: 25px;

    }

    .col-md-4.mb-4 {
        max-width: 600px;
        max-height: 400px;
        padding: 5;
    }

    .card-text {
        font-size: 10px;
        margin: 0;
        padding: 0;
    }

    .card-title {
        font-size: 12px;
    }

    .card h-100 {
        padding: 0;
    }

    .sobre-cantina {
        margin: 0;
    }
    

    /*---NAVBAR----*/

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }


    .menu li a {
        font-size: 15px;
    }

    .logo>img {
        width: 80px !important;
    }

    .menu>ul {
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .pesquisa-input {
        width: 250px !important;
    }



    /*-----FOOTER-------*/

    .info-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
        text-align: center;
        text-align: center;
    }

    .ul-content {
        margin: 0;
        padding: 0;
    }

    .information-divs>h2 {
        font-size: 25px;
    }

}

/* ----------- TABLET (≤992px) ----------- */


/* ----------- NOTEBOOK (≤1200px) ----------- */