/* --- ESTILO PADRÃO (MOBILE-FIRST) --- */
/* Este estilo será aplicado em telas pequenas primeiro */

.search-bar {
    width: 100%;
    /* Faz o container ocupar todo o espaço */
    padding-top: 60px;
    /* Adiciona um respiro nas laterais */
    box-sizing: border-box;
    /* Garante que o padding não aumente o tamanho total */
}


.barra-pesquisa {
    display: flex;
    width: 100%;
    align-items: center;
}

.pesquisa-input {
    width: 100%;
    /* Ocupa todo o espaço dentro do formulário */
    height: 40px;
    padding-left: 10px;
    /* Adiciona uma borda para visualização */
    border-radius: 5px;
}

.botao-pesquisa {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 10px;
    /* Adiciona um espaço para o ícone não colar no input */
}

.botao-pesquisa img {
    width: 25px;
    height: 25px;
}


/* --- ESTILO PARA TELAS MAIORES (TABLET/DESKTOP) --- */
/* Este código só será aplicado se a tela for MAIOR que 768px */

@media (min-width: 768px) {
    .search-bar {
        width: 100%;
        /* Faz o container ocupar todo o espaço */
        padding: 0px 10px 15px;
        /* Adiciona um respiro nas laterais */
        box-sizing: border-box;
        /* Garante que o padding não aumente o tamanho total */
    }
}
