.sobre-cantina{
    margin-left: 20px;
    margin-top: 15px;
}

.container-info{
   padding: 50px;
}

h1,h2{
    font-family: "Fredoka", serif;
    font-weight: 600;
}

p{
    font-family: "Inter", serif;
    line-height: 2;

}

.header-title>p{
    text-align: justify;
}
/* Estilos base para telas maiores */
.container-info, .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foto01-cantina, .sobre-cantina {
    flex: 1;
    padding: 20px;
}

/* Media Query para telas menores (tablets e celulares) */
@media (max-width: 768px) {
    .container-info, .container {
        flex-direction: column;
        text-align: center;
    }

    .foto01-cantina img, .sobre-cantina {
        width: 100%;
        padding: 10px;
    }

    .navbar .items {
        display: none; /* Esconde os itens do menu em telas menores */
    }

    .menu-toggle {
        display: block; /* Mostra o ícone do menu em telas menores */
    }

    .buy-actions {
        display: none;
        justify-content: flex-end;
        align-items: center;
    }

}

/* Media Query para telas muito pequenas (celulares) */
@media (max-width: 480px) {
    .navbar .imagem img {
        width: 80px; /* Reduz o tamanho da logo em telas muito pequenas */
    }

    .menu-toggle img {
        width: 32px; /* Reduz o tamanho do ícone do menu */
    }

    .buy-actions img {
        width: 24px; /* Reduz o tamanho dos ícones de usuário e carrinho */
    }

    .sobre-cantina h2 {
        font-size: 1.5rem; /* Ajusta o tamanho do título */
    }

    .sobre-cantina p {
        font-size: 0.9rem; /* Ajusta o tamanho do texto */
    }
    .container-info, .container{
        padding: 0;
    }
}